* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"montserrat";
  }
  

  
  .navbar{
    background-color:white!important;
    padding:2% 0%!important;
    
  }
  .navbar-nav{
    width:80%!important;
    text-align: center!important;
    justify-content:center!important;
   
  }
  .navbar-nav .nav-item{
    width:20%;
    
    
  }
  .navbar-nav .nav-item .nav-link{
   color:black!important;
   font-weight:600;
  
  }



@media only screen and (max-width:2000px) and (min-width:900px){
  .navbar{
    padding:2% 6%!important ;
  }
  .navbar-nav {
    width:100%;
   margin:0% auto
  }
  
} 


  @media screen and (max-width:1200px){
   
    .container, .container-md, .container-sm {
      max-width: 1220px!important;
  }

    .form-inline .navbar-img2{
      width:100%;
      height:18%;
   }

    .navbar-brand{
      width:18%;
      height:18%;
    }
  
  }





  

  @media screen and (max-width:992px){

    .container, .container-md, .container-sm {
      max-width: 1060px!important;
  }
   
       .navbar{
         padding-left:0%!important;
         padding-right:0%!important;
  }
         .navbar-nav .nav-item{
           width:25%;
          font-size:16px;
      }
        .navbar-nav .nav-item .nav-link{
        color:black!important;
         padding:0!important
        } 

             .form-inline .navbar-img2{
              width:100%;
             height:18%;
                 padding-left:20px!important
  }
       }









  @media screen and (max-width:768px){ 
    .container, .container-md, .container-sm {
      max-width: 820px!important;
  }
    .navbar-brand{
      width:25%;
      height:18%;
    }
    .navbar-nav {
      width:100%!important;
      height:100%;
      padding:5% 0%;
    }
    .navbar-nav .nav-item{
    width:100%!important;
    padding:1% 1%;
    text-align:left!important;
    font-size:15px!important;
     }
      .form-inline .navbar-img2{
       display:none!important;
         }
  }








  @media screen and (max-width:576px){
    .navbar-brand{
      width:35%;
    }
  }















 /*--------------------------------Section1----Start------------------------------------*/ 


/*------Section--1---Animation----*/

@keyframes my-animation {        
  from {
    opacity : 0;
    bottom :-500px;
  }
  to {
    opacity : 1;
    bottom : 0;
  }      
}

.Section1-Image {
  position: relative;
  animation: my-animation 2s ease;
}

#Section1-Image{
  text-align: center;
  font-family : Palatino Linotype, Book Antiqua, Palatino, serif;
}
/*------Section--1---Animation----*/



 @media screen and (max-width:2000px) and (min-width:1600px){
  .Section1-portfolio{
    padding-top:5%!important;
    
  }
 }

  .Section1-portfolio{
   text-align:center;
   }
   .Section1-Image{
    /* background-image:url("./assets/Potfolio-img2.PNG"); */
    background-image: url("./assets/back-ground-bilawal.jpg");
    background-size:contain;
    background-position:center center;
    background-repeat: no-repeat;
    min-height:80vh;
   }
   @media screen and (max-width:768px){
    .Section1-Image{
      min-height:55vh;
      padding:30%!important;
     }
   }

   @media screen and (max-width:476px){
    .Section1-Image{
      min-height:25vh!important;
      background-size: 40vh;
          background-image:url("./assets/Potfolio-img2.PNG");

     }
   }
   /*--------------------------------Section1----End------------------------------------*/ 

























  /*--------------------Section--2----------Start-------------*/



   .Section2-Portfolio{
  padding:10% 2%;
  display: flex;
  align-items:center;
  flex-wrap: nowrap;
  }

  .Section2-Portfolio-left1{
    width:45%;
    background-image:url("./assets/ui_icon_505.png");
    min-height:60vh;
    background-position:center center;
    background-size:contain;
    background-repeat: no-repeat;

    
  }

  .Section2-Portfolio-right1{
  background-image:url("./assets/Ellipse81.png");
  background-size:contain;
  background-repeat: no-repeat;
  min-height:60vh;
  background-position:center center;
  width:55%;
  position: relative;

}

.Section2-Portfolio-right1-content{
     position: absolute;
     top:0;
     height:100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }


.Section2-Portfolio-right1-content h1{
    font-family:"montserrat";
    color:white;
    font-weight:900;
}

.Section2-Portfolio-right1-content p{
    color:white;
    padding:2% 0%;
    width:60%;
   
} 

@media screen and (max-width:2000px){
  .Section2-Portfolio{
    max-width:1500px!important;
  }
}


@media screen and (max-width:1400px){
  .Section2-Portfolio-right1-content{
    justify-content: center;
    padding-left:5%;
   }
    .Section2-Portfolio-right1-content h1{
     font-size:30px!important;
  }
    .Section2-Portfolio-right1-content h1{
      width:70%;
    }
    .Section2-Portfolio-right1-content p{
     padding:2% 0%!important;
      margin:0% 10%!important;
      line-height:25px;
    }
 }
 
 
 
 
 
 @media screen and (max-width:1200px){
   .Section2-Portfolio-right1-content{
   padding:40% 10%!important;
   padding-left:18%!important
   }
   .Section2-Portfolio-right1-content h1{
     font-size:25px!important;
     width:90%;
     line-height:30px;
     padding-left:30px
   }
   .Section2-Portfolio-right1-content p{
   font-size:16px;
   width:80%!important;
   padding:4% 0!important;
  }
   .Section2-Portfolio-right1{
   width:70%;
   }
 }
 
 
 
 
 
 
 @media screen and (max-width:992px){
   .Section2-Portfolio-right1-content{
     padding-left:15%!important
 }
   .Section2-Portfolio-right1-content h1{
     font-size:23px!important;
   }
 
 }
 
 
 
 
 
 @media screen and (max-width:768px){
 
   .Section2-Portfolio-right1-content h1{
     font-size:20px!important;
     padding:0!important;
     padding-left:10px!important;
     line-height:23px;
   }
   .Section2-Portfolio-right1-content p{
     font-size:13px;
     width:85%!important;
     margin:0% 20%!important
   }
 
   .Section2-Portfolio{
   padding:5% 0%!important;
   padding-left:0%!important;
   padding-right:5%!important
   }
 
   .Section2-Portfolio{
     padding-right:2%!important;
     padding-top:0!important
    
   }
 
 .Section2-Portfolio-right1-content {
   padding:0!important
 }
 
 
 .Section2-Portfolio-left1{
   min-height:40vh;
 }
 
 .Section2-Portfolio-right1{
   min-height:40vh;
   padding:0!important
 }
 
 .Section2-Portfolio-right1-content h1 {
 font-size:18px!important;
 padding-left:11%!important;
 padding-top:8%!important
 }
 
 .Section2-Portfolio-right1-content p{
   font-size:13px;
   margin:0% 5%!important;
   text-align:center;
   line-height:18px;
 }
 
 }
 
 
 
 @media screen and (max-width:467px){
   .Section2-Portfolio{
     display:flex!important;
     flex-wrap: wrap;
     flex-direction: column-reverse;
 
   }
   .Section2-Portfolio-left1{
     width: 100%;
     background-size:40vh!important;
   }
   .Section2-Portfolio-right1{
     width: 100%;
   }
   
 }
 
 @media screen and (max-width:320px){
   .Section2-Portfolio-left1{
   min-height:40vh!important;
   background-size:30vh!important;
   }
   .Section2-Portfolio-right1{
     min-height:28vh!important;
   }
   .Section2-Portfolio-right1-content h1{
     width:80%;
     font-weight: 900!important;
     font-size:13px!important;
     padding-left:10px!important;
     padding-top:20px!important
   }
   .Section2-Portfolio-right1-content p{
     font-size:10px!important;
     margin:0% 10%!important;
     width:90%!important;
   }
 
   .Section2-Portfolio-right1-content{
     padding-left:10%!important;
     padding-right:10%!important;
   }
 }


  /*--------------------Section--2-----------End------------*/

















  /*-----Section--3----Start---------------*/


  .Section3-Portfolio{
    margin-top:4%;
    
  }


  .pk-tb2{
    display:flex;
    justify-content:space-around;
    list-style:none;
    flex-wrap: wrap;
  }

  @media screen and (max-width:992px){
    .pk-tb2{
      flex-wrap:wrap
  }
  
  .pk-tb2 li{
    margin:10px;
  width:28%!important;
   }

}

  .pk-tb2 li{
    border:2px solid white;
    width:15%;
    border-radius:100px; 
    padding:10px;
    padding-top:24px;
    text-align:center;
    border:1px solid #A7C5F9

   }
   .pk-tb2 li.active{
    background-color:#A7C5F9;
   }

   .pk-tb3{
    padding:2% 0%;
    display:flex;
    justify-content:space-evenly;
    list-style:none;
  }

  
  @media screen and (max-width:1200px){
    .pk-tb3{
      flex-wrap:wrap
  }
  
  .pk-tb3 li{
  width:25%!important;
   }

}

@media screen and (max-width:320px){
  .pk-tb2 li {
width:100%!important;
}
.pk-tb3 li{
  width:100%!important;
  margin:10px
}
}

  .pk-tb3 li{
    border:2px solid white;
    width:15%;
    border-radius:100px; 
    padding:10px;
    padding-top:24px;
    text-align:center;
    border:1px solid #A7C5F9

   }
   .pk-tb3 li.active{
    background-color:#A7C5F9;
   }

  /*-----Section--3----Start---------------*/








/*------------------Section-4--------------Start-----------*/




.Section4-Portfolio{
  margin-top:15%;
  padding:5% 0%;
}

.Section4-Portfolio-row{
  justify-content:space-evenly;
}

.Section4-Portfolio-left1{
  background-image:url("./assets/Clients.png");
  background-position:center center;
  background-size:contain;
  min-height:50vh;
  background-repeat:no-repeat;
}

.Section4-Portfolio-right1{
  padding-left:12%!important
}

@media screen and (max-width:992px){

  .Section4-Portfolio-right1{
  margin:auto auto;
  }

  .Section4-Portfolio-left1{
    min-height:35vh!important;
  }

  .Section4-Portfolio{
    margin:1% 0!important
  }
  .col-sm-4 {
    max-width: 25.333333%!important;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    margin:15% 0
}
  
}


@media screen and (max-width:768px){
  .Section4-Portfolio{
    margin:2% 0!important
  }
  .Section4-Portfolio-right1{
    text-align: center;
    padding:0!important
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 20.333333%!important;
    margin:15% 0;
}

.Section4-Portfolio-left1{
  min-height:35vh!important;
}
  
}

 


  @media screen and (max-width:320px){
  
  .Section4-Portfolio-left1{
    min-height:30vh!important;
  }
  
  }
/*------------------Section-4--------------End-----------*/




/*----Section-5-----Start-------------*/



.Section5-Portfolio-left1{
  text-align:left;
  display: flex;
  align-items: center;
  
}


.Section5-Portfolio-left1 h1{
  font-family:"montserrat";
  font-weight: 900;
  font-size:70px;
}

.Section5-Portfolio-mid1{
  text-align: center;
}





.Section5-Portfolio-right1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section5-Portfolio-right1-content{
  width: 100%;
 
}
.Section5-Portfolio-right1-content :nth-child(1) h2{
  display: flex;
  justify-content: flex-start;
  width:100%;
  padding:10px;
  font-size: 40px;
  font-weight:900!important;
  font-family: "montserrat";
  position: relative;

  

}

.Section5-Portfolio-right1-content :nth-child(1) h2::after{
content:"";
width: 15%;
height: 0px;
position: absolute;
display: flex;
bottom: 50%;
left:20%;
align-items: center;
}


.Section5-Portfolio-right1-content :nth-child(2) h2{
font-weight: 900;
}


@media screen and (max-width:2000px){
  .Section5-Portfolio h1 {
width:100%;
/* transform:translate(-60%,0%); */
  }

}

@media screen and (max-width:1400px){
  .Section5-Portfolio-left1 h1{
  font-size:70px!important;
  width:100%;
  text-align: center;
  padding-bottom:10%;
  /* transform: translate(0%); */
  }
  .Section5-Portfolio-right1-content{
    width:80%!important;
    padding:8% 0%!important
  }
}

@media screen and (max-width:992px){
  .Section5-Portfolio{
    padding:3%!important
  }
  .Section5-Portfolio-left1{
  width:100%;
  padding:0!important
  }
  .Section5-Portfolio-left1 h1{
width:100%;
font-size: 65px!important;
/* transform: translate(0%); */

  }
  .Section5-Portfolio-right1-content{
    width:80%!important;
    padding:8% 0%
  }
}








@media screen and (max-width:768px){
  .Section5-Portfolio-left1 h1{
    padding:0!important;
    width:100%;
    text-align: center!important;
    font-size:50px!important;
    /* transform: translate(0%); */

  }
  .Section5-Portfolio-right1-content{
    width:80%!important;
  }
}


@media screen and (max-width:567px){
  .Section5-Portfolio-left1 h1{
  font-size:25px!important;
  /* transform: translate(0%); */

  }

  .Section5-Portfolio-mid1 :nth-child(1){
    width:60%
  }
  .Section5-Portfolio-mid1 :nth-child(2){
    width:60%
  }
  .Section5-Portfolio-mid1 :nth-child(3){
    width:60%
  }
  .Section5-Portfolio-mid1 :nth-child(4){
    width:60%
  }

  .Section5-Portfolio-right1-content :nth-child(1) h2{
    font-size:25px!important;
  }
  .Section5-Portfolio-right1-content :nth-child(2) h2{
    font-size:25px!important;
  }
  .Section5-Portfolio-right1-content :nth-child(3) p{
    font-size:15px!important;
  }
}


@media screen and (max-width:320px){
  .Section5-Portfolio{
    padding-top:20%!important
  }
  .Section5-Portfolio-left1 h1{
    font-size:26px!important;
    /* transform: translate(0%); */

  }

  .Section5-Portfolio-right1-content :nth-child(1) h2{
    font-size:20px!important;
  }
  .Section5-Portfolio-right1-content :nth-child(2) h2{
    font-size:18px!important;
  }
  .Section5-Portfolio-right1-content :nth-child(3) p{
    font-size:14px!important;
  }

 
}


@media only screen and (max-width:2000px) and (min-width:1600px){
  .Section5-Portfolio-main{
    max-width:1600px!important;
  }
  .Section5-Portfolio-right1{
    display: flex;
    padding-left:6%!important
  }
}

/*----Section-5-----End-------------*/




/*-----------Section-6------Start--------*/


.Section6-Portfolio{
  margin-top:10%;
}
.Section6-Portfolio-heading{
  text-align: center;
  font-family: "montserrat";
  font-size:80px!important;
}

.Section6-Portfolio-heading h1{
  font-family: "montserrat";
  font-size:80px!important;

}

.Section6-Portfolio-heading span{
  font-weight:900;
  padding-left:1%
}

@media screen and (max-width:992px){
  .Section6-Portfolio-heading h1{
  font-size:50px!important;
  }
}
@media screen and (max-width:768px){
  .Section6-Portfolio-heading h1{
      font-size:40px!important;

    }
}
@media screen and (max-width:576px){
  .Section6-Portfolio-heading h1{
    font-size:30px!important;

    }
}
@media screen and (max-width:468px){
  .Section6-Portfolio-heading h1{
    font-size:20px!important;

    }
}
@media screen and (max-width:320px){
  .Section6-Portfolio-heading h1{
    font-size:10px!important;
    
    }
    .Section6-Portfolio-slider{
      max-width:1200px;
    }
} 


/*------------Section-6----------End*/

/*------------Section-7-------Start-----*/


.Section7-Portfolio{
  margin-top:5%;
  padding:10% 2%;
  display: flex;
  align-items:center;
  flex-wrap: nowrap;
}



.Section7-Portfolio-left1{
  background-image:url("./assets/Ellipse81.png");
  background-size:contain;
  background-repeat: no-repeat;
  min-height:60vh;
  background-position:center center;
  position: relative;
  position: relative;

}


.Section7-Portfolio-right1-image{
  background-image:url("./assets/Section9-image.PNG");
  background-size:contain;
  background-repeat: no-repeat;
  min-height:60vh;
  background-position:center center;
  position: relative;

}


.Section7-Portfolio-left1-content{
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}



.Section7-Portfolio-left1-content :nth-child(1)::after{
  content:"";
  border:1px solid white;
  width:10%;
  height:0%;
  position: absolute;
  top:50%;
  margin-left:1%

}


.Section7-Portfolio-left1-content :nth-child(1){
  color:white;
  width:60%;
  font-family: "montserrat";
  font-weight:900;
  position: relative;
  padding:2% 0%;
  font-size:32px;


}

.Section7-Portfolio-left1-content :nth-child(2){
  color:white;
  width:60%;
  font-family: "montserrat";
  font-weight:500;
  line-height:53px;
  font-size:32px;
}

.Section7-Portfolio-left1-content-3rd {
  color:white;
  width:60%;
  font-family: "montserrat";
  font-weight:500;
  font-size:32px;

}

@media screen and (max-width:1200px){
  .Section7-Portfolio-left1-content :nth-child(2){

    font-size: 30px;

  }
}

@media screen and (max-width:992px){
  .Section7-Portfolio-left1{
  min-height:50vh!important;
 
  }

  .Section7-Portfolio-left1{
margin:10px 0;
margin-bottom:20%
  }

  .Section7-Portfolio{
  padding-top:0
  }


  .Section7-Portfolio-left1-content :nth-child(1){

width:40%;
padding:0%!important;
  }

  .Section7-Portfolio-left1-content-3rd {
    width:40%
  
  }

  .Section7-Portfolio-left1-content :nth-child(2){
    width:40%;
   
  
  }


  
  .Section7-Portfolio-right1-image{
    min-height:50vh!important;
  }

}


@media screen and (max-width:768px){


  

 

  .Section7-Portfolio-left1{
  min-height:40vh!important;
  }
  .Section7-Portfolio-right1-image{
    min-height:40vh!important;
  }

  .Section7-Portfolio-left1-content :nth-child(1){
  width:40%;
  margin:0 auto;
  font-size:25px
  }

  .Section7-Portfolio-left1-content :nth-child(2){
    width:60%;
    font-size:30px;
    line-height:39px;;
    width:40%;
    font-size:25px
    
  }
  .Section7-Portfolio-left1-content-3rd{
    width:55%;
    font-size:30px;
    width:40%;
    font-size:25px
  }

}

@media screen and (max-width:576px){
  .Section7-Portfolio-left1{
  min-height:35vh!important;
  }
  .Section7-Portfolio-right1-image{
    min-height:35vh!important;
  }

  .Section7-Portfolio-left1-content :nth-child(1){
  width:40%;
  margin:0 auto;
  
  }

  .Section7-Portfolio-left1-content :nth-child(2){
    width:45%;
    padding-top:10px;
    font-size:25px;
    line-height:39px;;
    
  }
  .Section7-Portfolio-left1-content-3rd{
    width:45%;
    font-size:25px;
  }

}

@media screen and (max-width:476px){
  .Section7-Portfolio-left1{
  min-height:30vh!important;
  }
  .Section7-Portfolio-right1-image{
    min-height:30vh!important;
  }

  .Section7-Portfolio-left1-content :nth-child(1){
  width:50%;
  margin:0 auto;
  font-size:20px;
  padding-left:2%!important;
  }

  .Section7-Portfolio-left1-content :nth-child(2){
    width:50%;
    font-size:20px;
    line-height:39px;
    padding-left:2%!important;


    
  }
  .Section7-Portfolio-left1-content-3rd{
    width:50%;
    font-size:20px;
    padding-left:2%!important;

  }

}

@media screen and (max-width:320px){


  .Section7-Portfolio-left1-content :nth-child(1){
    width:50%;
    margin:0 auto;
    font-size:16px;
    }
  
    .Section7-Portfolio-left1-content :nth-child(2){
      width:50%;
      font-size:16px;
      line-height:39px;
      line-height:20px!important;


  
  
      
    }
    .Section7-Portfolio-left1-content-3rd{
      width:50%;
      font-size:16px;
  
    }
  

}









/*------------Section--8-----------------*/




.footer-Portfolio-main-div{
  padding:0% 10%!important;
  display: flex!important;
  justify-content: space-evenly;

 }

 .footer-Portfolio-left1{
  display: flex;
  justify-content: center;
  padding:3% 0%;
  padding-bottom:0%
 }




 .footer-Portfolio-right1{
  padding:3% 3%;
  background-color: #E1FCAD;
  border-top-left-radius:120px;
  border-top-right-radius:120px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  

 
}




 ul.list-unstyle{
  list-style-type:none;
 }
 ul.list-unstyle li a,.footer-Portfolio-first p{
  color:#838689;
  font-family: "montserrat",sans-serif;
 }

 .footer-Portfolio-first{
  margin:auto 0;
 }

 .footer-Portfolio-third h6,.footer-Portfolio-forth h6,.footer-Portfolio-second h6,.footer-Portfolio-fifth p,h4{
  color:#3F3E3F;
  font-family: "montserrat",sans-serif;
  font-weight: 600;
  padding:5px 0px
 }



 .input-group input.form-control{
  outline: 0!important;
  bordeR:none!important;
  border-bottom:1px solid gray!important;
  margin:10px 0;

}

.input-group input.form-control:focus {
  border-color:black;
  outline:none!important;
  border-bottom:1px solid gray!important;
  box-shadow: none!important;
  
}


@media screen and (max-width:1400px){
  .footer-Portfolio-main-div{
   flex-wrap: wrap!important;
   padding:0% 5%!important;
  }
  .footer-Portfolio-right1{
  width:100%!important;
  margin-top:3%!important;
  }
  .footer-Portfolio-right1{
    width:100%!important
  }
}

@media screen and (max-width:768px){
  .footer-Portfolio-main-div{
    flex-wrap: wrap;
    padding:0% 14%!important;
  }
   

  .footer-Portfolio-first,.footer-Portfolio-second,.footer-Portfolio-third,.footer-Portfolio-forth,.footer-Portfolio-fifth{
    padding:2%;
  }

  .footer-Portfolio-right1{
    width:100%!important;
    border-top-left-radius:0!important;
    
   
   }
   .footer-Portfolio-first h1,p{
    padding:10px 0px
   }
   .footer-Portfolio-first .fa-brands{
    padding:2% 2%;
  }
    

   .footer-Portfolio-fifth p,h4{
    font-size: 16px!important;
   }
   .input-group {
  width:70%!important;
  }
}


/*--------------Footer-------------End------------------------*/




/*------old----------------------------*/


     /* .footer-Portfolio-main-div{
      padding:0% 10%!important;
      display: flex!important;
      justify-content: space-evenly;

     }
    
     .footer-Portfolio-left1{
      display: flex;
      justify-content: center;
      padding:3% 0%;
      padding-bottom:0%
     }

    


     .footer-Portfolio-right1{
      padding:3% 3%;
      background-color: #E1FCAD;
      border-top-left-radius:120px;
      border-top-right-radius:120px;
      border-bottom-left-radius:50px;
      border-bottom-right-radius:50px;
      

     
    }




     ul.list-unstyle{
      list-style-type:none;
     }
     ul.list-unstyle li a,.footer-Portfolio-first p{
      color:#838689;
      font-family: "montserrat",sans-serif;
     }

     .footer-Portfolio-first{
      margin:auto 0;
     }

     .footer-Portfolio-third h6,.footer-Portfolio-forth h6,.footer-Portfolio-second h6,.footer-Portfolio-fifth h4 ,p{
      color:#3F3E3F;
      font-family: "montserrat",sans-serif;
      font-weight: 600;
     }



     .input-group input.form-control{
      outline: 0!important;
      bordeR:none!important;
      border-bottom:1px solid gray!important;
      margin:10px 0;
    
    }
  
    .input-group input.form-control:focus {
      border-color:black;
      outline:none!important;
      border-bottom:1px solid gray!important;
      box-shadow: none!important;
      
    }


    @media screen and (max-width:1400px){
      .footer-Portfolio-main-div{
       flex-wrap: wrap!important;
       padding:0% 5%!important;
      }
      .footer-Portfolio-right1{
      width:100%!important;
      margin-top:3%!important;
      }
      .footer-Portfolio-right1{
        width:100%!important
      }
    }

    @media screen and (max-width:768px){
      .footer-Portfolio-main-div{
        flex-wrap: wrap;
      }
       

      .footer-Portfolio-first,.footer-Portfolio-second,.footer-Portfolio-third,.footer-Portfolio-forth,.footer-Portfolio-fifth{
        padding:2%;
      }

      .footer-Portfolio-right1{
        width:100%;
       }
    } */


    /*--------------Footer-------------End------------------------*/

     /*----------------------------------Services Style--------Drop--down------*/

     .main {
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      --indigo: #6610f2;
      --purple: #6f42c1;
      --pink: #e83e8c;
      --red: #dc3545;
      --orange: #fd7e14;
      --yellow: #ffc107;
      --green: #28a745;
      --teal: #20c997;
      --cyan: #17a2b8;
      --white: #fff;
      --gray: #6c757d;
      --gray-dark: #343a40;
      --primary: #007bff;
      --secondary: #6c757d;
      --success: #28a745;
      --info: #17a2b8;
      --warning: #ffc107;
      --danger: #dc3545;
      --light: #f8f9fa;
      --dark: #343a40;
      --breakpoint-xs: 0;
      --breakpoint-sm: 576px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 992px;
      --breakpoint-xl: 1200px;
      --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
      --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
      --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
      --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
      --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
      --blue: #001f3b;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      list-style: none;
      cursor: pointer;
      margin: 0;
      box-sizing: border-box;
      font-family: poppins, sans-serif;
      position: absolute;
      width: 100%;
      background: linear-gradient(180deg, #0591f7, #215fda);
      border-radius: 52.35px;
      transition: 0.3s ease-in-out;
      overflow: hidden;
      right: 0;
      padding: 3.6vw;
      box-shadow: 0 2.424vw 4.242vw 0 rgb(0 0 0 / 25%);
      visibility: visible;
      opacity: 1;
      z-index: 99999;
      top: 3.4vw;
    }










     /*----------------------------------Services Style--------Drop--down-----End---*/